In [1]:
%run ./functions.ipynb

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sawal\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sawal\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# Avec boucle for par ligne du fichier orignal

In [2]:
pipeline_for("./INPUT/ex1.txt")

    id          v1          v2  v3          v4
0  001  some_value         NaN NaN         NaN
1  002         NaN  some_value NaN         NaN
2  002         NaN  some_value NaN         NaN
3  003         NaN  some_value NaN         NaN
4  004         NaN         NaN NaN  some_value

# Sans boucle for du fichier original

In [3]:
pipeline_noloop_lines("./INPUT/ex1.txt")

    id          v1          v2  v3          v4
0  001  some_value         NaN NaN         NaN
1  002         NaN  some_value NaN         NaN
2  002         NaN  some_value NaN         NaN
3  003         NaN  some_value NaN         NaN
4  004         NaN         NaN NaN  some_value