In [1]:
from s2h_utils import *
import time

## Load data

In [2]:
data = pd.read_parquet("./INPUT/at_ano2.parquet")[["id", "DT_DEB_PER_INA","DT_FIN_PER_INA"]]
data.columns = ["id", "date_debut", "date_fin"]
data['date_debut'] = pd.to_datetime(data['date_debut'])
data['date_fin'] = pd.to_datetime(data['date_fin'])

## REORGANISATION

In [3]:
data = reorganisation_all(data)
data

The algorithm stopped after 8 iterations

                         id date_debut   date_fin
0          3616707530791252 2017-03-28 2017-03-31
1          3616707530791252 2018-09-27 2018-10-02
2          3616707530791252 2019-01-13 2019-01-16
3          3616707530791252 2019-01-20 2019-01-22
4          3616707530791252 2020-11-18 2020-11-20
...                     ...        ...        ...
14412  18441578402327752291 2020-01-21 2020-01-24
14413  18441578402327752291 2021-10-19 2021-10-21
14414  18442504685582257412 2020-07-15 2020-07-26
14415  18442504685582257412 2022-05-04 2022-05-08
14416  18442504685582257412 2022-08-05 2022-08-26

[14417 rows x 3 columns]

## OUTPUT FINAL

In [7]:
start =time.time()
presence = Presence(data)
a, b = presence.process_presence()
end = time.time()
print("Running time in minutes: ", (end-start)/60)

Running time in minutes:  36.75571418603261

In [9]:
a.presence.sum()

360679.0